# deepseek 配置
DEEPSEEK_API_KEY=

# 智谱 Bigmodel 配置
# 必填
BIGMODEL_API_KEY=
# 选填
MODEL_NAME=qwen3.8-max

# Tavily 搜索引擎 API KEY(必填，用于网络搜索)
TAVILY_API_KEY=

BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

EMBEDDING_MODEL_PATH=D:/Project/BAAI--bge-small-zh-v1.5/snapshots/master